<div class="container-title">
  <h2 class="title-information">Ingresar los datos de su vehiculo</h2>
</div>

<form autocomplete="off" [formGroup]="form" class="form animated fadeIn fast">
  <div>
    <div class="form-group row container-input options">
      <div class="col-sm-4 col-md-11 col-lg-12">
        <app-select [elements]="marcas" [form]="form" [name]="'marca'" [labelName]="'Marcas'" 
                    [item]="'desc'" [itemTwo]="'codigo'"></app-select>
      </div>
    </div>
    <div class="form-group row container-input">
      <div class="col-sm-4 col-md-11 col-lg-12">
        <app-input [inputs]="inputs" [form]="form"></app-input>
      </div>
    </div>
    <div class="container-button">
      <button [disabled]="form.value.ano === '' || form.value.marca == ''" 
              class="btn btn-outline-primary btn-block" 
              (click)="getModelo()">{{loadingModel ? 'Cargando...' : 'Buscar Modelo'}}
      </button>
      <small class="description-text">Para poder buscar un modelo, tiene que ingresar Marca y Año</small>
    </div>  
    <div class="form-group row container-input options">
      <div class="col-sm-4 col-md-11 col-lg-12">
        <app-select [elements]="modelos" [form]="form" [name]="'modelo'" [labelName]="'Modelos'"></app-select>
      </div>
    </div>
    <div class="container-button">
      <button [disabled]="form.value.ano === '' || form.value.marca == '' || form.value.modelo == ''"  
              class="btn btn-outline-primary btn-block" 
              (click)="getVersion()">{{loadingVersion ? 'Cargando...' : 'Buscar Version'}}
      </button>
      <small class="description-text">Para poder buscar una Version, tiene que ingresar Marca, Año y Modelo</small>
    </div>
    <div class="form-group row container-input options">
      <div class="col-sm-4 col-md-11 col-lg-12">
        <app-select [elements]="versiones" [form]="form" [name]="'version'" [labelName]="'Versiones'" [item]="'desc'"></app-select>
      </div>
    </div>
  <div class="form-group row container-input">
    <div class="input-group col-12 col-md-11 col-lg-8">
      <button type="submit" class="btn btn-outline-primary btn-block"
                (click)="nextStep()">
        Siguiente
      </button>
      <button type="submit" class="btn btn-outline-primary btn-block"
                (click)="goBack()">
        Volver a Informacion
      </button>
    </div>
  </div>
</div>
</form>