<div class="navbar animated fadeIn fast">
    <ul class="container-navbar">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['information']">Informacion</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['vehicle']">Vehiculo</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['coverage']">Cobertura</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['summary']">Resumen</a>
      </li>
    </ul>
</div>


<router-outlet></router-outlet>