<div>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Seguros</span>
  </nav>
</div>
<div class="container-text animated fadeIn fast"> 
  <div>
    <h5>Seguros que dan confianza</h5>
    <h2 (click)="nextStep()">Date de alta con el mejor seguro, haz click aqui</h2>
  </div>
</div>
<div class="container-img ">
  <img class="img img-fluid" [src]="img">
</div>

<h2 class="text-services">Nuestros servicios</h2>
<app-card-home 
  [img]="'../../assets/img/socalo2.jpg'" [title]="'Seguridad'"
  [description]="'Disfruta de la tranquilidad de cada dia en tu hogar.'">
</app-card-home>
<app-card-home 
  [img]="'../../assets/img/socalo3.jpg'" [title]="'Vida'"
  [description]="'Tenemos para vos, las opciones en seguros de vida que necesites.'">
</app-card-home>
<app-card-home 
  [img]="'../../assets/img/socalo1.png'" [title]="'Choques'"
  [description]="'Cotiza online. Hoy podes acceder a la mejor cobertura para tu auto.'">
</app-card-home>