<div class="container-title">
  <h2 class="title-information">Resumen de todos los datos</h2>
</div>
<div>
  <button class="btn btn-outline-primary btn-block button" 
  (click)="goBack('coverage')">
  Volver a Vehiculo
</button>
</div>

<div class="container-jumbotron animated fadeIn fast">
  <div class="jumbotron jumbotron-fluid">
    <div class="container-text"> 
      <h2>Datos personales</h2>
    </div>
    <div class="container" *ngFor="let info of information">
      <p><span>Nombre:</span> {{info.nombre}}</p>
      <p><span>Apellido:</span> {{info.apellido}}</p>
      <p><span>Dni:</span> {{info.dni}}</p>
      <p><span>email:</span> {{info.email}}</p>
      <p><span>FechaDeNacimiento:</span> {{info.FechaDeNacimiento}}</p>
      <p><span>provincia:</span> {{info.provincia}}</p>
      <p><span>Municipio:</span> {{info.municipios}}</p>
      <p><span>celular:</span> {{info.celular}}</p>
      <p><span>telefono:</span> {{info.telefono}}</p>
      <p><span>usuario:</span> {{info.usuario}}</p>
    </div>
    <button class="btn btn-outline-primary btn-block"
            (click)="goBack('information')">
            Editar datos personales
    </button>
  </div>
  
  <div class="jumbotron jumbotron-fluid">
    <div class="container-text"> 
      <h2>Datos sobre el vehiculo</h2>
    </div>
    <div class="container" *ngFor="let car of vehicle">
      <p><span>Año:</span> {{car.ano}}</p>
      <p><span>Marca:</span> {{car.marca}}</p>
      <p><span>Modelo:</span> {{car.modelo}}</p>
      <p><span>Version:</span> {{car.version}}</p>
    </div>
    <button class="btn btn-outline-primary btn-block"
            (click)="goBack('vehicle')">
            Editar datos del vehiculo
    </button>
  </div>
  
  <div class="jumbotron jumbotron-fluid">
    <div class="container-text"> 
      <h2>Datos sobre cobertura</h2>
    </div>    
    <div class="container" *ngFor="let cove of coverage">
      <p><span>Titulo:</span> {{cove.titulo}}</p>
      <p><span>Texto:</span> {{cove.texto}}</p>
      <p><span>Descripcion:</span> {{cove.descripcion}}</p>
      <p><span>Granizo:</span> {{cove.granizo ? ' Si' : ' No'}}</p>
      <p><span>Costo:</span> {{cove.costo}}</p>
      <p><span>Producto:</span> {{cove.producto}}</p>
    </div>
    <button class="btn btn-outline-primary btn-block" 
            (click)="goBack('coverage')">
            Editar datos de cobertura
    </button>
  </div> 
</div>

<div>
  <button class="btn btn-outline-primary btn-block btn-success" 
          (click)="goBye()">
          Confirmar Datos
  </button>
</div>