
<div class="container-title">
  <h2 class="title-information">Seleccione la cobertura que desea contratar</h2>
</div>

<div>
  <button class="btn btn-outline-primary btn-block button" 
  (click)="goBack()">
  Volver a Cobertura
</button>
</div>

<div *ngIf="loadingData">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!loadingData" class="container-card row animated fadeIn fast">
  <div class="card col-sm-4 col-md-10 col-lg-3" *ngFor="let coverage of coverages; let i = index" style="width: 18rem;">
    <div class="card-body ">
      <div class="card-container-middle">
        <h5 class="card-title">{{coverage.titulo}}</h5>
        <h6 class="card-subtitle mb-2">{{coverage.texto}}</h6>
        <hr>
        <p class="card-text">{{coverage.descripcion}}</p>
      </div>
      <div class="card-container-bottom">
        <p class="card-text">Covertura contra granizo:{{coverage.granizo ? ' Si' : ' No'}}</p>
        <p class="card-text">Producto: {{coverage.producto}}</p>
        <p class="card-text">Codido Producto: {{coverage.codigoProducto}}</p>
        <p class="card-text">Franquicia: {{coverage.franquicia}}</p>
        <p class="card-text">Puntaje: {{coverage.puntaje}}</p>
        <a class="card-link">Costo: {{coverage.costo}}</a>
      </div>
      <button class="btn btn-outline-primary btn-block" 
              (click)="selectPlan(coverage)">
              Seleccionar Plan
      </button>
    </div>
  </div>
</div>