.container-information {
  text-align: center;
}

.container-button {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.title-information{
  margin-bottom: 30px;
}

.loading{
  margin-bottom: 5px;
}