<div class="container-title">
  <h2 class="title-information">Ingresar datos personales</h2>
</div>
<form autocomplete="off" [formGroup]="form" class="form animated fadeIn fast">
  <div>
    <div class="form-group row container-input">
      <div class="col-sm-4 col-md-11 col-lg-12">
        <app-input [inputs]="inputs" [form]="form"></app-input>
      </div>
    </div>
    <div class="form-group row container-input options">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <app-select [elements]="provincias" [form]="form" [name]="'provincia'" [labelName]="'Provincias'" [item]="'nombre'" [itemTwo]="'id'" ></app-select>
      </div>
    </div>
    <div class="container-button">
      <button [disabled]="form.value.provincia === ''"
              class="btn btn-outline-primary btn-block" 
              (click)="getMuni()">{{loadingMuni ? 'Cargando...' : 'Buscar Municipalidad'}}
      </button>
      <small class="description-text">Para poder buscar un municipio, antes tenes que seleccionar una provincia</small>
    </div>  
    <div class="form-group row container-input options">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <app-select [elements]="municipios" [form]="form" [name]="'municipios'" [labelName]="'Municipio'" [item]="'nombre'" ></app-select>
      </div>
    </div>
    <div class="form-group row container-input">
      <div class="col-sm-4 col-md-11 col-lg-12">
        <app-input [inputs]="inputsAdress" [form]="form"></app-input>
      </div>
    </div>
    <div class="form-group row container-input">
      <div class="col-sm-4 col-md-11 col-lg-6">
        <app-input [inputs]="inputsUserPass" [form]="form"></app-input>
      </div>
    </div>
  <div class="form-group row container-input">
    <div class="input-group col-12 col-md-11 col-lg-8">
      <button  (click)="nextStep()" type="submit" class="btn btn-outline btn-block">
        Siguiente
      </button>
    </div>
  </div>
</div>
</form>